.app {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.siteLogo img {
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  margin: 10px;
}

.starting img {
  max-width: 400px;
}

.choose_difficulty {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.game h3 {
  margin: 0;
}

.game {
  width: 100%;
}

.choose_difficulty button {
  width: 50%;
}

@media screen and (max-width: 850px) {
  .siteLogo img {
    position: relative;
  }

  .starting img {
    visibility: collapse;
    height: 0;
  }
}